
<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "6.jpeg" %>
	</div>

	<div id="content">
		<h1>Enchanter's Expertise</h1>
		<p>We are talented tech experts that specialize in</p>
		<p>Enchanter utilizes web development technologies that are both proven and practical. With the options available in the market today, we can help you determine what is best for your needs. We help our clients choose the right tools for hosting, ecommerce, content management and marketing.</p>
		
	</div>
</div>